.container__nav {
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    max-width: 1040px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}


.nav--logo {
    margin-right: 100px;
}


.nav--links {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}